.app-calculator-wrapper {
	max-width: 1200px;
	margin-inline: auto;
	padding-block-start: 24px;
	color: var(--app-color-primary);
	font-size: var(--app-font-size-base);

	.app-calculator-container {
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
		margin-block-start: 25px;
	}

	.app-calculator-body {
		display: grid;
		gap: var(--app-offset-middle);
		margin-inline-start: var(--app-navigation-width);
		padding-inline: var(--app-offset-middle);
		padding-block: var(--app-offset-s) var(--app-offset-middle);
	}

	.app-color-red {
		color: var(--app-color-error);
	}

	.bold {
		font-weight: 600;
	}

	.vs-icon-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 4px;
		border-radius: 50%;
		cursor: pointer;
		background: var(--app-color-n-92);
		//@include trans;

		&:hover {
			background: var(--app-color-primary);
			color: var(--app-color-secondary);
		}
	}

}

.v-overlay-container {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}
}

.app-list-standard {
	padding-left: 10px;

	&.small {
		font-size: var(--app-font-size-s);
	}
}
