:root {
	--app-navigation-width: 200px;
	--app-offset-xs: 4px;
	--app-offset-s: 8px;
	--app-offset-normal: 16px;
	--app-offset-middle: 24px;
	--app-offset-large: 32px;

	--app-color-error-10: #FF0000;
	--app-color-error-10-rgb: 252, 28, 25;
	--app-color-primary: #2B2A29;
	--app-color-rgb: 43, 42, 41;
	--app-color-secondary: #FFF;
	--app-color-light-grey: #F4F3F3;
	--app-color-grey: #E8E7E7;
	--app-color-dark-grey: #A8A7A8;

	--app-font-size-xs: 10px;
	--app-font-size-s: 12px;
	--app-font-size-base: 14px;
	--app-font-size-m: 16px;
	--app-font-size-l: 18px;
	--app-font-size-xl: 20px;
}

$green: #28c76f !default;
$border-radius: 4px;
$border-radius-input: 4px;
$border-radius-btn: 4px;
$box-shadow: 0 0 15px 0 rgba(34, 41, 47, .1)


