.app-block-figure-wrapper {
	display: grid;
	gap: 24px;

	.app-block-figure {
		display: grid;

		.app-block-figure-image {
			max-width: 800px;
		}

		.app-number-input {
			justify-self: end;
		}
	}

	.app-block-figure-notification {
		background: var(--app-color-n-70);
		color: #fff;
		border-radius: 6px;
		padding: 6px 16px;
		font-size: var(--app-font-size-s);

		span {
			color: var(--app-color-error);
		}
	}

	.app-block-figure-additional {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		align-items: center;
	}
}

.app-block {
	.app-block-figure-image, .additional-countertops-images {
		position: relative;

		.app-number-input {
			border: 1px solid red;
			position: absolute;
			z-index: 2;
			width: 80px;

			.v-number-input__control,
			.v-field__field {
				background: transparent;
			}

			.v-field__input {
				--v-field-input-padding-top: 4px;
				--v-field-input-padding-bottom: 4px;
				--v-field-padding-start: 4px;
				--v-field-padding-end: 4px;
				--v-input-control-height: 34px;
				letter-spacing: normal;
			}
		}

		.app-circular-toggle-menu {
			position: absolute;
		}
	}
}