.app-calculator-wrapper {

	.vs-flex {
		display: flex;
	}

	.vs-ai-center {
		align-items: center;
	}

	.vs-grid {
		display: grid;
	}

	.vs-gap-xs {
		gap: 4px;
	}

	.vs-gap-s {
		gap: 8px;
	}

	.vs-gap {
		gap: 16px;
	}

	.vs-gap-l {
		gap: 24px;
	}

	.vs-gap-xl {
		gap: 32px;
	}
}