@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

@mixin boxShadow($opacity: .1) {
	box-shadow: 0 0 15px 0 rgba(34, 41, 47, $opacity);
}

@mixin cardHover() {
	border-color: var(--app-color-error-10);
	@include boxShadow;
}

@mixin trans($prop: all) {
	transition: $prop .2s linear;
}

@mixin borderBottom {
	border-bottom: 1px solid var(--gray-light);
}